
  <div class="card-content">
    <div class="card-img">
      <img src="https://placeimg.com/380/230/nature" alt="aquy va una imagen">
      <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
      <h3>{{destinos.nombre}}</h3>
      <p>Aqy va mucho texto que no quiero repetir porque es algo muy largo y no tiene importancia</p>
      <p>{{destinos.imagenUrl}}</p> 
      <h5>Servicios</h5>
      <ol>
        <li *ngFor="let x of destinos.servicios">
          <span [ngSwitch]="x">
            <i *ngSwitchCase="'wifi'" style="color: blue">{{x}}</i>
            <i *ngSwitchCase="'parking'" style="text-decoration: line-through;">{{x}}</i>
            <i *ngSwitchDefault>{{x}}</i>
          </span>
        </li>
      </ol>
      <div class="card-desc">
        <a href="#" (click)="Satisfecho()"><i class="material-icons md-24">sentiment_very_satisfied</i></a>
        <a href="#" (click)="NoSatisfecho()"><i class="material-icons md-24">sentiment_dissatisfied</i></a>
        <a >  {{numero}} </a>
      </div>
      <a href="#" class="btn-card" (click)="ir()">Favorito</a>
      <!--<span [style.display]="destinos.isSelected()? '':'none'">preferido</span>-->
      <span *ngIf="destinos.isSelected()">
        <span ngNonBindable>{{Preferido}}</span>
      </span>
    </div> 
  </div>
