<div class="container content">
  <div class="page-header">
    <div class="container align-content-center">
      <h1> Ruteo Simple </h1>
      <h2>{{ title }}</h2>
      <div class="navLinks " >
        <a [routerLink]="['/home']">  Home</a>
        <a [routerLink]="['/destino']"> Destino</a>
      </div>  
    </div>
  </div>
  
    <!--<app-lista-destinos></app-lista-destinos> -->
    <router-outlet></router-outlet>
</div>
<hr class="mb-5">
Fecha:{{time|async}}