<!-- mismo que en lista destinos pero agregando tags-->
<form
        [formGroup]="fg"
        (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)"
>
    <div class="form-group">
            <label for="nombre">Ciudad</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre" 
            [formControl]="fg.controls['nombre']"
            >
            <ul>
                    <li *ngFor="let r of searchResults">{{r}}</li>
            </ul>
            <!-- Validadores por defecto -->
            <!--<div *ngIf="!fg.controls['nombre'].valid">Nombre invalido</div>       -->
            <div *ngIf="fg.controls['nombre'].hasError('required')">Nombre invalido</div>
            <!--Creando mi propio validadores-->
            <div *ngIf="fg.controls['nombre'].hasError('NombreInvalido')">Debe tener entre 1 y 4 caracteres</div>
            <div *ngIf="fg.controls['nombre'].hasError('validadorLongitud')">Parametrizable</div>    
    </div>
    <div class="form-group">
            <label for="Imagen Url">Imagen Url</label>
            <input type="text" class="form-control" id="imagenUrl" placeholder="Ingrese Url" 
            [formControl]="fg.controls['url']"
            >                                                        
    </div> 
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>                                            
</form>
    