<div class="container content">
        <div class="row">
                <div class="col-md-6 offset-md-3">
                        <span class="anchor" id="formLogin"></span>
                        <!--formulario card login wuth validation feedback-->
                        <div class="card card-outline-secondary">
                                <div class="card-header">
                                        <h3 class="mb-0">{{titulo}}</h3>
                                </div>
                                <div class="card-body">
                                        <!-- Pasando el formulario a el constructor form-destino 
                                        <form>
                                                <div class="form-group">
                                                        <label for="nombre">Ciudad</label>
                                                        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre" #nombre>
                                                </div>
                                                <div class="form-group">
                                                        <label for="Imagen Url">Imagen Url</label>
                                                        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingrese Url" #url>                                                        
                                                </div> 
                                                <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value,url.value)">Guardar</button>                                            
                                        </form> -->           
                                       <app-form-destino (onItemAded)="agregado($event)"></app-form-destino> 
                                </div>
                        </div>
                </div>
        </div>

<hr class="mb-5">
<div class="row">
        <!--<app-destino-viaje *ngFor = "let x of arraydestinos; let i=index"   -->
        <app-destino-viaje *ngFor="let x of destinosApiClient.getAll(); let i=index "       
        [destinos]="x"
        [position]="i+1"
        (clicked)="elegido($event)"
        ></app-destino-viaje>
</div>

<hr class="mb-5">
<div class="row row-flex">
        <h5>Lista de Favoritos</h5>
        <ul>
                <li *ngFor="let u of listafavoritos">{{u}}</li>
        </ul> 
</div>
</div>

